<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Space</title>
</head>
<body>

    <h1>Express Missions</h1>

    <!-- //display the mission names as <li> in a <ul> with the class name "missions" -->
    <ul>
        <li class="missions">Curiosity</li>
        <li class="missions">Opportunity</li>
        <li class="missions">Spirit</li>
        <li class="missions">Sojourner</li>
        <li class="missions">Rosetta</li>

    </ul>
</body>
</html>